<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cnu.zhanghao.repository.UserRepository">
    <!-- 保存 -->
    <insert id="save" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO demo_user(status, create_at, update_at, name, username, password)
        VALUES(#{status}, NOW(), NOW(), #{name}, #{username}, #{password})
    </insert>

    <!-- 根据手机号查询用户 -->
    <select id="findOneByUsername" parameterType="string" resultType="user">
        SELECT id, status, name, username, password FROM demo_user WHERE username = #{username}
    </select>
</mapper>